# Default ignored files
/shelf/
/workspace.xml
_site
.sass-cache
.jekyll-metadata
node_modules/
yarn.lock
/.idea/amaynez.github.io.iml
/amaynez.github.io.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
